@import 'variables'
body
    background-color: $body-background-color
.pre-nav-container
   text-align: $pre-nav-align-text
   padding: $pre-nav-padding
.pre-nav-container
    a
        color: $pre-nav-a-color
        text-decoration: $nav-a-text-decoration
.pre-nav-container
    span
        font-weight: $pre-nav-span-font-size
.navbar
    background-color: $navbar-background-color
    width: $navbar-width
.navbar-brand
    color: $navbar-font-color
.navbar-brand
    img
        width: $img-navbar-width
        height: $img-navbar-height
.nav-link 
    color: $dropdown-color
.navbar-end-container
    a
        color: $navbar-font-color
        text-decoration: $nav-a-text-decoration
    .button-log-in
        color: $navbar-font-color
        background-color: $nav-button-log-in-background-color
        border-radius: $nav-border-radius
        width: $nav-button-log-in-width
        height: $nav-button-log-in-height
        border-style: $nav-button-border-style
        border-color: $nav-button-log-in-border-color
    .button-sign-up
        color: $navbar-font-color
        background-color: $nav-button-sign-up-background-color
        border-radius: $nav-border-radius
        width: $nav-button-sign-up-width
        height: $nav-button-sign-up-height
        border-style: $nav-button-border-style
        border-color: $nav-button-sign-up-border-color

