@import 'variables'
body
    background-color: $body-bg-color
    font-family: $general-font-family
.custom-general-container
    padding: $general-container-padding
.pre-nav-container
   background: $pre-nav-bg-color
   text-align: $pre-nav-align-text
   padding: $pre-nav-padding
.pre-nav-container
    a
        color: $pre-nav-a-color
        text-decoration: $nav-a-text-decoration
.pre-nav-container
    span
        font-weight: $pre-nav-span-font-size
.navbar
    background-color: $navbar-background-color
    width: $navbar-width
.navbar-brand
    color: $navbar-font-color
.navbar-brand
    img
        width: $img-navbar-width
        height: $img-navbar-height
.nav-link 
    color: $dropdown-color
.navbar-nav
    --bs-nav-link-hover-color: rgb(255, 45, 96)
.dropdown-menu
    --bs-dropdown-bg: rgb(5, 5, 5)
    --bs-dropdown-border-color: rgb(255, 255, 255)
    --bs-dropdown-link-color: rgb(255, 255, 255)
    --bs-dropdown-link-hover-color: rgb(144, 152, 162)
    --bs-dropdown-link-hover-bg: none
.navbar-end-container
    a
        color: $navbar-font-color
        text-decoration: $nav-a-text-decoration
    .button-log-in
        color: $navbar-font-color
        background-color: $nav-button-log-in-background-color
        border-radius: $nav-border-radius
        width: $nav-button-log-in-width
        height: $nav-button-log-in-height
        border-style: $nav-button-border-style
        border-color: $nav-button-log-in-border-color
    .button-sign-up
        color: $navbar-font-color
        background-color: $btn-cherry-bg-color
        border-radius: $nav-border-radius
        width: $nav-button-sign-up-width
        height: $nav-button-sign-up-height
        border-style: $nav-button-border-style
        border-color: $btn-cherry-bg-color
/* FAQ Container */
.custom-faq-container
    text-align: $text-align-center
    color: $text-color-white
    p
        color: $p-text-color
        a
            color: $text-color-white
    .accordion
        --bs-accordion-btn-bg: $background-color
        --bs-accordion-btn-color: $text-color-white
        --bs-accordion-active-bg: $background-color
        --bs-accordion-active-color: $text-color-white
        /*--bs-accordion-btn-focus-border-color: $btn-border-focus-color
        --bs-accordion-btn-focus-box-shadow: $btn-focus-box-shadow
        /*--bs-accordion-btn-icon: $btn-icon
        .accordion-item
            background: $background-color
            .accordion-header
                color: $text-color-white
    .custom-row-see-all
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        button
            width: 120px
            height: 50px
            color: $text-color-white
            background: $btn-black-bg-color
            border-radius: 10px
            border: solid rgb(255, 255, 255) 1px
            span
                .fa
                    color: $text-color-white
/* FIN FAQ Container */
.custon-join-container
    color: $text-color-white
    text-align: $text-align-center
    h2
        font-weight: bolder
        font-size: 40px
    span
        background: $span-text-gradient
        -webkit-background-clip: $webkit-background-clip
        -webkit-text-fill-color: $webkit-text-fill-color
    .custom-row-form
        justify-content: center
        .input-group
            width: 371px
            border-radius: 48px
    input
        background: $background-color
        border-color: #fafafa
    button
        background: $btn-cherry-bg-color
        color: $text-color-white
/* Table Banner para las paginas de Templates y Pricing */
.custom-table-container-features
    .row
        display: $display-flex
        flex-direction: $flex-direction-row
        flex-wrap: $flex-wrap
        justify-content: $jc-center
.custom-table-banner-container
    .custom-row-table-title
        color: $text-color-white
        text-align: $text-align-center
    .custom-row-table-btns
        .custom-col-btns
            display: $display-flex
            flex-direction: $flex-direction-row
            flex-wrap: $flex-wrap
            justify-content: $jc-center
            button
                min-width: 35%
                max-width: 100%
                height: 180%
                color: $text-color-white
                background: $btn-black-bg-color
                border-radius: 10px
                border: solid 1px $btn-white-border
.table
    color: $text-color-white
    th
        color: $text-color-gray
        text-decoration: underline dashed
        width: 35%
    td
        text-align: $text-align-center
        span
            img
                /*min-width: fit-content
                /*max-width: fit-content
                width: 20px
                height: auto
/* FIN Table Banner para las paginas de Security y Pricing */
/* Get Taskade Container */   
.custom-taskade-general-container
    margin-top: $margin-top-taskade-container
    margin-bottom: $margin-bottom-taskade-container
    display: $display-flex
    flex-direction: $flex-direction-col
    flex-wrap: $flex-wrap
    justify-content: $jc-center
    align-content: $ac-center
    width: $outer-container-width
    height: $outer-container-height
    border-radius: $container-border-radius
    background: $bg-color-container
    padding: 40px 40px 40px 40px
.custom-get-taskade-container   
    padding: 40px 40px 40px 40px
    h2
        width: $h2-get-taskade-width
        text-transform: $h2-get-taskade-text-transform
        font-size: $h2-get-taskade-font-size
        font-weight: $h2-get-taskade-font-weight
        margin: $h2-get-taskade-margin
        line-height: $h2-get-taskade-line-height
    text-align: $text-align-center
    color: $text-color-white
.custom-row-btn
    .col
        width: 100%
        height: 100%
        p
            color:  rgb(144, 152, 162)
        button
            width: $btn-get-taskade-width
            height: $btn-get-taskade-height
            background: $btn-get-taskade-bg-color
            box-shadow: $btn-get-taskade-box-shadow
            backdrop-filter: $btn-get-taskade-backdrop-filter
            background-image: $btn-get-taskade-bg-image
            border-radius: $btn-get-taskade-border-radius
            border: $btn-get-taskade-border
            i
                color: $btn-get-taskade-i-fa-color
                .fa
                    width: $btn-get-taskade-i-fa-width
                    height: $btn-get-taskade-i-fa-width
/* FIN Get Taskade Container */    
.custom-hr
    border: 1px solid $hr-gray-border
/* Trusted & Loved by... container */
.custom-trusted-container
    margin-top: 5%
    margin-bottom: 5% 
    text-align: $text-align-center
    color: $text-color-white
    .custom-trusted-row
        display: $display-flex
        flex-direction: $flex-direction-row
        flex-wrap: $flex-wrap
        align-content: $ac-center
        align-items: $ai-center
        justify-content: $jc-space-around
    .col
        width: 100% 
        height: 100%
    img
        width: 100px 
        height: 100%
/* FIN Trusted & Loved by... container */
/* Get in Touch container */
.custom-touch-container
    margin-top: 5%
    margin-bottom: 5%
    padding: 100px 20px 100px 20px
    text-align: $text-align-center
    color: $text-color-white
    h2
        font-weight: 700
        line-height: 128%
    span
        background: $span-text-gradient
        -webkit-background-clip: $webkit-background-clip
        -webkit-text-fill-color: $webkit-text-fill-color
    .custom-row-contact-btn
        margin-top: 10%
        margin-bottom: 10%
        button
            padding: 15px 20px 15px 20px
            width: fit-content
            height: 100%
            border-radius: $btn-border-radius
            color: $text-color-white
            font-weight: 500
            background: $btn-cherry-bg-color
            border: $btn-cherry-border
    .custom-col-question
        display: $display-flex
        flex-direction: $flex-direction-col
        flex-wrap: $flex-wrap
        align-content: $ac-center
        align-items: $ai-center
        justify-content: $jc-space-around
        align-items: $ai-center
/* FIN Get in Touch container */
/* All Templates container */    
.custom-all-templates-container
    /*background: rgb(255, 0, 0)
    color: $text-color-white
    width: 95%
    h2
        text-align: $text-align-center
    span
        background: $span-text-gradient
        -webkit-background-clip: $webkit-background-clip
        -webkit-text-fill-color: $webkit-text-fill-color
    .row
        margin-bottom: 1%
    .col
        display: flex
        flex-wrap: wrap
        flex-direction: $flex-direction-col
        align-content: $ac-center
    .card
        width: 25rem
        height: auto
        background: $body-bg-color
        .card-header
            background: $body-bg-color
            padding-top: 0px
            padding-bottom: 0px 
        .hr-feature 
            border: 3px solid rgb(66, 106, 136)
        .hr-chat-gpt 
            border: 3px solid rgb(255, 45, 96)
        .hr-personal
            border: 3px solid rgb(250, 219, 95)
        .hr-project-management
            border: 3px solid rgb(174, 53, 48)
        .hr-task-management
            border: 3px solid rgb(120, 121, 241)
        .hr-engineering
            border: 3px solid rgb(165, 166, 246)
        .hr-education
            border: 3px solid rgb(170, 67, 120)
        .hr-design
            border: 3px solid rgb(193, 207, 218)
        .hr-marketing
            border: 3px solid rgb(2, 138, 159)
        .hr-mind-maps
            border: 3px solid rgb(239, 144, 164)
        .hr-organizational
            border: 3px solid rgb(237, 174, 73)
        .hr-planning
            border: 3px solid rgb(174, 126, 75)
        .hr-meetings
            border: 3px solid rgb(186, 63, 29)
        .hr-team-management  
            border: 3px solid rgb(171, 86, 129)
        .hr-strategy
            border: 3px solid rgb(114, 25, 90)
        .hr-gaming
            border: 3px solid rgb(0, 166, 118)
        .hr-production
            border: 3px solid rgb(91, 149, 191)
        .hr-product-management 
            border: 3px solid rgb(169, 104, 119)
        .hr-startups
            border: 3px solid rgb(199, 184, 234)
        .hr-remote-works
            border: 3px solid rgb(174, 180, 169)
        .hr-y-combinators
            border: 3px solid rgb(255, 155, 113)
        .hr-roadmap    
            border: 3px solid rgb(151, 216, 196)
        .hr-maintenance
            border: 3px solid rgb(199, 242, 167)
        .hr-how-tos
            border: 3px solid rgb(255, 136, 17)
        .hr-research
            border: 3px solid rgb(78, 255, 239)
        .hr-music
            border: 3px solid rgb(83, 216, 251)
        .hr-trip-planning
            border: 3px solid rgb(237, 33, 124)
        p
            color: $text-color-gray
/* FIN All Templates container */    
/* Contribute to Our Template Gallery container */
.custom-contribute-container
    color: $text-color-white
    padding: 30px 20px
    text-align: $text-align-center
    margin: 60px 0px
    /*h2
        margin: 60px 0px !important
    p
        font-size: 20px
        line-height: 150%
        margin-bottom: 3rem 
    span
        background: $span-text-gradient
        -webkit-background-clip: $webkit-background-clip
        -webkit-text-fill-color: $webkit-text-fill-color
    button
        padding: 15px 20px 15px 20px
        width: fit-content
        height: 100%
        border-radius: $btn-border-radius
        color: $text-color-white
        font-weight: 500
        background: $btn-cherry-bg-color
        border: $btn-cherry-border
/* FIN Contribute to Our Template Gallery container */
/* Dropdown Menu */
.dropdown-menu
    .custom-dropdown-menu
        background: rgb(255, 0, 0)
/* FIN Dropdown Menu */
/* Footer container */
.custom-footer-container
    padding: 1% 5%
    h5
        color: $text-color-white
    a
        color: $text-color-gray
        text-decoration: none
    .custom-footer-card
        color: $text-color-white
        background: $body-bg-color
        img
            border-radius: 8px
            width: 80%
            height: 50%
    .accordion
        --bs-accordion-btn-bg: $background-color
        --bs-accordion-btn-color: $text-color-white
        --bs-accordion-active-bg: $background-color
        --bs-accordion-active-color: $text-color-white
        /*--bs-accordion-btn-focus-border-color: $btn-border-focus-color
        --bs-accordion-btn-focus-box-shadow: $btn-focus-box-shadow
        /*--bs-accordion-btn-icon: $btn-icon
        .accordion-item
            background: $background-color
            .accordion-header
                color: $text-color-white
/* FIN Footer container */
/* Footer 2 container */
.custom-footer-2-container
    padding: 1% 5%
    color: $text-color-white
    a
        color: $text-color-gray
        text-decoration: none
/* FIN Footer 2 container */


        
