/* Variables Generales */
$body-background-color: rgb(54, 53, 53)
$general-container-padding: 0px
$pre-nav-align-text: center
$pre-nav-padding: 10px 0px 10px 0px
$pre-nav-a-color: rgb(255, 255, 255)
$nav-a-text-decoration: none
$pre-nav-span-font-size: bold
$navbar-background-color: rgb(0, 0, 0)
$navbar-font-color: rgb(255, 255, 255)
$navbar-width: 100%
$img-navbar-width: 150px
$img-navbar-height: 50px
$dropdown-color: rgb(255, 255, 255)
$nav-button-log-in-background-color: rgb(0, 0, 0)
$btn-cherry-background-color: rgb(255, 45, 96)
$nav-button-log-in-width: 100px
$nav-button-log-in-height: 40px
$nav-button-sign-up-width: 177px
$nav-button-sign-up-height: 40px
$nav-border-radius: 12px
$nav-button-border-style: solid
$nav-button-log-in-border-color: rgb(118, 116, 116)
/* Variables for FAQ Container Elements */
$background-color: rgb(0, 0, 0)
$text-align: center
$text-color: rgb(227, 229, 232)
$p-text-color: rgb(144, 152, 162)
/*$btn-border-focus-color: rgb(255, 255, 255)
$btn-focus-box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25)
/* FIN Variables for FAQ Container Elements */
/* Span gradient */
$span-text-gradient: linear-gradient(to left, rgb(30, 104, 214) 0%, rgb(255, 92, 135) 100%)
$webkit-background-clip: text
$webkit-text-fill-color: transparent
/* FIN Span gradient */
