/* Variables Generales */
body {
  background-color: rgb(54, 53, 53);
}

.pre-nav-container {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.pre-nav-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.pre-nav-container span {
  font-weight: bold;
}

.navbar {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-brand img {
  width: 150px;
  height: 50px;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.navbar-end-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navbar-end-container .button-log-in {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  width: 100px;
  height: 40px;
  border-style: solid;
  border-color: rgb(118, 116, 116);
}
.navbar-end-container .button-sign-up {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 45, 96);
  border-radius: 12px;
  width: 177px;
  height: 40px;
  border-style: solid;
  border-color: rgb(255, 45, 96);
}

/* Variables Generales */
.general-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 125px;
  text-align: center;
}

.banner-container {
  padding: 50px 0px 50px 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0px 0px 50px 0px;
}

.button-container .buttons-container button {
  background: rgba(250, 246, 246, 0.597);
  color: rgb(255, 255, 255);
  margin-left: 5px;
  border-radius: 15px;
  width: 160px;
  height: 84px;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
}
.carousel-container img {
  width: 100%;
  height: 100%;
}

.outside-decoration-container {
  width: 1300px;
  height: 420px;
}

.device-container {
  width: 1200px;
  height: 310px;
  border-radius: 12px;
  background-color: rgba(23, 25, 28, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.device-container a {
  color: rgb(250, 250, 250);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}

.browser-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.browser-container a {
  color: rgb(144, 152, 162);
  text-transform: none;
  font-size: 15px;
}

.title {
  text-align: center;
  font-size: 125px;
  line-height: 120px;
  color: rgb(250, 250, 250);
}

.subtitle {
  /* width: 800px */
  /* height: 57px */
  text-align: center;
  font-size: 25px;
  color: rgb(144, 152, 162);
}

.col .ai-content-title {
  color: rgb(255, 255, 255);
}
.col .ai-content-subtitle {
  color: rgb(144, 152, 162);
  font-size: 20px;
}
.col hr {
  border: none;
}
.col video {
  border-radius: 25px;
  width: 100%;
}

.row .p-replaces {
  color: rgb(144, 152, 162);
  text-transform: uppercase;
}

.col .chat-gtp-text, .col .jasper-text, .col .copy-ai-text {
  color: rgb(144, 152, 162);
}

.login-body {
  background-color: rgb(28, 31, 34);
}

.custom-general-container {
  padding: 0px;
}

.custom-main-login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.custom-card-login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.custom-login-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 450px !important;
  height: 575px;
  border-radius: 15px;
  border: 0.5px solid rgb(44, 48, 53);
  background: rgb(23, 25, 28);
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.custom-login-card img {
  width: 50px;
  height: 50px;
}

.custom-row-card-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  padding-left: 30px;
}

.custom-card-body-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.custom-card-body-login h2 {
  color: rgb(227, 229, 232);
}
.custom-card-body-login p {
  color: rgb(147, 153, 159);
}
.custom-card-body-login button {
  background: rgb(37, 40, 45);
  color: rgb(227, 229, 232);
  width: 358.4px;
  height: 39.6px;
  border-radius: 50px;
  border: 1px solid rgb(44, 48, 53);
  font-size: 14.2px;
}
.custom-card-body-login .btn-google-login img {
  width: 20.4px;
  height: 20.4px;
}
.custom-card-body-login .btn-apple-login {
  background: rgb(0, 0, 0);
}
.custom-card-body-login .btn-apple-login img {
  width: 20.4px;
  height: 20.4px;
}
.custom-card-body-login .btn-login {
  background: rgb(255, 45, 96);
  border-radius: 8.5px;
}
.custom-card-body-login .row {
  margin-top: 5px;
}

.custom-form-control {
  background: rgb(28, 31, 34);
  border: 1px solid rgb(44, 48, 53);
  width: 358.4px;
  height: 34.91px;
  border-radius: 10px;
  font-size: 14.2px;
  color: rgb(227, 229, 232);
}

.custom-row-btn-sign-in {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
}

.custom-row-form form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.custom-row-form label {
  color: rgb(147, 153, 159);
}

.custom-card-footer-log-in {
  padding-top: 15px;
  color: rgb(147, 153, 159);
}/*# sourceMappingURL=base.css.map */