/* Variables Generales */
/* Variables for FAQ Container Elements */
/*$btn-border-focus-color: rgb(255, 255, 255) */
/* FIN Variables for FAQ Container Elements */
/* Span gradient */
/* FIN Span gradient */
body {
  background-color: rgb(54, 53, 53);
}

.custom-general-container {
  padding: 0px;
}

.pre-nav-container {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.pre-nav-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.pre-nav-container span {
  font-weight: bold;
}

.navbar {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-brand img {
  width: 150px;
  height: 50px;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.navbar-end-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navbar-end-container .button-log-in {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  width: 100px;
  height: 40px;
  border-style: solid;
  border-color: rgb(118, 116, 116);
}
.navbar-end-container .button-sign-up {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 45, 96);
  border-radius: 12px;
  width: 177px;
  height: 40px;
  border-style: solid;
  border-color: rgb(255, 45, 96);
}

.custom-faq-container {
  text-align: center;
  color: rgb(227, 229, 232);
}
.custom-faq-container p {
  color: rgb(144, 152, 162);
}
.custom-faq-container p a {
  color: rgb(227, 229, 232);
}
.custom-faq-container .accordion {
  --bs-accordion-btn-bg: $background-color;
  --bs-accordion-btn-color: $text-color;
  --bs-accordion-active-bg: $background-color;
  --bs-accordion-active-color: $text-color;
  /*--bs-accordion-btn-focus-border-color: $btn-border-focus-color */
  --bs-accordion-btn-focus-box-shadow: $btn-focus-box-shadow;
  /*--bs-accordion-btn-icon: $btn-icon */
}
.custom-faq-container .accordion .accordion-item {
  background: rgb(0, 0, 0);
}
.custom-faq-container .accordion .accordion-item .accordion-header {
  color: rgb(227, 229, 232);
}
.custom-faq-container .custom-row-see-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.custom-faq-container .custom-row-see-all button {
  width: 120px;
  height: 50px;
  color: rgb(227, 229, 232);
  background: rgb(0, 0, 0);
  border-radius: 10px;
  border: solid rgb(255, 255, 255) 1px;
}
.custom-faq-container .custom-row-see-all button span .fa {
  color: rgb(227, 229, 232);
}

.custon-join-container {
  color: rgb(227, 229, 232);
  text-align: center;
}
.custon-join-container h2 {
  font-weight: bolder;
  font-size: 40px;
}
.custon-join-container span {
  background: linear-gradient(to left, rgb(30, 104, 214) 0%, rgb(255, 92, 135) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custon-join-container .custom-row-form {
  justify-content: center;
}
.custon-join-container .custom-row-form .input-group {
  width: 371px;
  border-radius: 48px;
}
.custon-join-container input {
  background: rgb(0, 0, 0);
  border-color: #fafafa;
}
.custon-join-container button {
  background: rgb(255, 45, 96);
  color: rgb(227, 229, 232);
}

/* Variables Generales */
/* Variables for FAQ Container Elements */
/*$btn-border-focus-color: rgb(255, 255, 255) */
/* FIN Variables for FAQ Container Elements */
/* Span gradient */
/* FIN Span gradient */
.general-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 125px;
  text-align: center;
}

.banner-container {
  padding: 50px 0px 50px 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0px 0px 50px 0px;
}

.button-container .buttons-container button {
  background: rgba(250, 246, 246, 0.597);
  color: rgb(255, 255, 255);
  margin-left: 5px;
  border-radius: 15px;
  width: 160px;
  height: 84px;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
}
.carousel-container img {
  width: 100%;
  height: 100%;
}

.outside-decoration-container {
  width: 1300px;
  height: 420px;
}

.device-container {
  width: 1200px;
  height: 310px;
  border-radius: 12px;
  background-color: rgba(23, 25, 28, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.device-container a {
  color: rgb(250, 250, 250);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}

.browser-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.browser-container a {
  color: rgb(144, 152, 162);
  text-transform: none;
  font-size: 15px;
}

.title {
  text-align: center;
  font-size: 125px;
  line-height: 120px;
  color: rgb(250, 250, 250);
}

.subtitle {
  /* width: 800px */
  /* height: 57px */
  text-align: center;
  font-size: 25px;
  color: rgb(144, 152, 162);
}

.col .ai-content-title {
  color: rgb(255, 255, 255);
}
.col .ai-content-subtitle {
  color: rgb(144, 152, 162);
  font-size: 20px;
}
.col hr {
  border: none;
}
.col video {
  border-radius: 25px;
  width: 100%;
}

.row .p-replaces {
  color: rgb(144, 152, 162);
  text-transform: uppercase;
}

.col .chat-gtp-text, .col .jasper-text, .col .copy-ai-text {
  color: rgb(144, 152, 162);
}

.login-body {
  background-color: rgb(28, 31, 34);
}

.custom-main-login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.custom-card-login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.custom-login-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 450px !important;
  height: 575px;
  border-radius: 15px;
  border: 0.5px solid rgb(44, 48, 53);
  background: rgb(23, 25, 28);
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.custom-login-card img {
  width: 50px;
  height: 50px;
}

.custom-row-card-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  padding-left: 30px;
}

.custom-card-body-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.custom-card-body-login h2 {
  color: rgb(227, 229, 232);
}
.custom-card-body-login p {
  color: rgb(147, 153, 159);
}
.custom-card-body-login button {
  background: rgb(37, 40, 45);
  color: rgb(227, 229, 232);
  width: 358.4px;
  height: 39.6px;
  border-radius: 50px;
  border: 1px solid rgb(44, 48, 53);
  font-size: 14.2px;
}
.custom-card-body-login .btn-google-login img {
  width: 20.4px;
  height: 20.4px;
}
.custom-card-body-login .btn-apple-login {
  background: rgb(0, 0, 0);
}
.custom-card-body-login .btn-apple-login img {
  width: 20.4px;
  height: 20.4px;
}
.custom-card-body-login .btn-login {
  background: rgb(255, 45, 96);
  border-radius: 8.5px;
}
.custom-card-body-login .row {
  margin-top: 5px;
}

.custom-form-control {
  background: rgb(28, 31, 34);
  border: 1px solid rgb(44, 48, 53);
  width: 358.4px;
  height: 34.91px;
  border-radius: 10px;
  font-size: 14.2px;
  color: rgb(227, 229, 232);
}

.custom-row-btn-sign-in {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
}

.custom-row-form form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.custom-row-form label {
  color: rgb(147, 153, 159);
}

.custom-card-footer-log-in {
  padding-top: 15px;
  color: rgb(147, 153, 159);
}

.custom-downloads-title {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}
.custom-downloads-title h1 {
  color: rgb(227, 229, 232);
  font-size: 52px;
}
.custom-downloads-title h1 span {
  /*color: rgb(252,70,107) */
  /*color: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%)  */
  background: #121FCF;
  background: linear-gradient(to left, rgb(30, 104, 214) 0%, rgb(255, 92, 135) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-downloads-title p {
  color: rgb(227, 229, 232);
  font-size: 20px;
}

.custom-desktop-apps-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
  color: rgb(227, 229, 232);
  text-align: center;
  background: rgba(255, 255, 255, 0.04);
  background-image: radial-gradient(circle at top left, rgba(246, 105, 66, 0.05) 10%, transparent 40%), radial-gradient(circle at bottom right, rgba(250, 219, 95, 0.05) 10%, transparent 50%);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 100%, 0.15), inset 0 -1px 3px #000;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 24px;
}
.custom-desktop-apps-container h2 {
  /*margin-top: 20px */
  font-weight: bolder;
}

.custom-row-btn .col p {
  color: rgb(144, 152, 162);
}
.custom-row-btn .col button {
  width: 80px;
  height: 80px;
  background: hsla(0, 0%, 100%, 0.04);
  box-shadow: inset 0 0 2px hsla(0, 0%, 100%, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background-image: radial-gradient(circle at bottom, rgba(91, 149, 191, 0.4) 0, hsla(0, 0%, 9%, 0.8) 30%, rgba(30, 30, 30, 0.8) 100%);
  border-radius: 24px;
  border: 5px;
}
.custom-row-btn .col button i {
  color: rgb(255, 255, 255);
}
.custom-row-btn .col button i .fa {
  width: 50px;
  height: 50px;
}

.custom-row-mobile-browser .custom-col-mobile-browser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(227, 229, 232);
  text-align: center;
  background: rgba(255, 255, 255, 0.04);
  background-image: radial-gradient(circle at top left, rgba(246, 105, 66, 0.05) 10%, transparent 40%), radial-gradient(circle at bottom right, rgba(250, 219, 95, 0.05) 10%, transparent 50%);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 100%, 0.15), inset 0 -1px 3px #000;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 24px;
}
.custom-row-mobile-browser .custom-col-mobile-browser .row .col button {
  width: 80px;
  height: 80px;
  background: hsla(0, 0%, 100%, 0.04);
  box-shadow: inset 0 0 2px hsla(0, 0%, 100%, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background-image: radial-gradient(circle at bottom, rgba(91, 149, 191, 0.4) 0, hsla(0, 0%, 9%, 0.8) 30%, rgba(30, 30, 30, 0.8) 100%);
  border-radius: 24px;
  border: 5px;
}
.custom-row-mobile-browser .custom-col-mobile-browser .row .col button i {
  color: rgb(255, 255, 255);
}
.custom-row-mobile-browser .custom-col-mobile-browser .row .col button i .fa {
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=base.css.map */